[2014-01-21 10:57] sumbobyboys opened #27 "Export bundles"

[2014-01-22 09:07] sumbobyboys opened #35 "Split webservice class in domain oriented webservice classes"

[2014-01-24 14:39] sumbobyboys opened #47 "Localize exceptions"

[2014-02-13 10:43] sumbobyboys opened #67 "Add magento validator to merger"

[2014-02-19 11:02] sumbobyboys opened #72 "Add specification for webservice"

[2014-02-19 11:03] sumbobyboys opened #73 "Add specifications for processors"

[2014-04-30 15:23] willy-ahva opened #116 "Add a Purge button to purge pim_magento_category_mapping"
Sometimes category export doesn't work because mapping table pim_magento_category_mapping is not up to date. It will be useful to create a button in profile magento export category page which can purge this table.

[2014-05-13 12:40] sumbobyboys opened #141 "Add step reference to delta export"

[2014-05-27 09:36] sumbobyboys opened #167 "option fields order on attribute export is not good"
Mapping is displayed on top

[2014-06-03 13:17] willy-ahva opened #184 "If default store view field in export edit form is blank, no error is shown in export profile page."
Export profile page should show the field in export profile general tab and explain error.

[2014-07-02 09:27] marcus-hoppen opened #217 "Workflow to Export VARIANT Products"
We are still experiencing to the creation of configurable products. This workflow is known to us. The Question is how we can export the configurab le Product to the Magento Shop.
Is there any workflow or a manual to create a configurable product properly and export it in magento?

If we export products we've created for the configurable product, the products are be exported as simples but there is

[2014-07-02 11:57] aspacca opened #218 "Failed to run a full export on a clean Magento installation"
Hello,

I've a fresh installation of Akeneo 1.1.0, Magento Connector Bundle RC5 and Magento 1.7.2. The installerd_data in Akeneo is PimMagentoConnectorBundle:demo_magento.

When I try to make a full export the following errors occur:
ATTRIBUTE WRITER  Error on Magento soap call : "SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails

[2014-07-08 12:49] BitOne opened #219 "Provides documentation about job execution order"
Which should be launched before which one...

[2014-07-21 14:19] marcus-hoppen opened #229 "Export Tier Prices"
Hello,

i've created an attribute to maintain the tier prices in akeneo.
The following content is in the text box "admin|ALL GROUPS|5000|0.70||admin|ALL GROUPS|10000|0.65||admin|ALL GROUPS|15000|0.60" .
After that i mapped the attribute in the Magento Connector Profile: tier_price = tier_price.

The export profile was carried out, but unfortunately the tier prices has been exported to Magento.

Is

[2014-07-23 16:08] willy-ahva opened #230 "Make connector compatible with PIM 1.2"

[2014-07-29 14:27] ZuzanaPetrakovaPelikan opened #233 "no Magento export profile after fresh Akeneo and MagentoConnectorBundle install"
Hi,
our hosting provider installed for us akeneo and MagentoConnectorBundle with no errors.
Unfortunately, we cannot see any Magento menu in akeneo neither possibility of Magento export profile while creating new export profile. Could you please give us hint what may be the problem in this case?

Thank you very much.

Sincerely,

Zuzana

[2014-07-29 15:44] tom00 opened #234 "Base Image not set for configurable products"
![screen shot 2014-07-29 at 5 34 04 pm](https://cloud.githubusercontent.com/assets/6136403/3737364/5a0ef708-1736-11e4-9bac-cf37ca69524b.png)

While this setting is working correctly for simple product export, when creating/updating a configurable product, only an image is copied but the base image setting is not applied.

![screen shot 2014-07-29 at 5 41 13 pm](https://cloud.githubusercontent.com/

[2014-07-30 22:38] tom00 opened #236 "Incorrect configurable attributes chosen in case not all used to build configurable product"
Magento Connector does not send the information which attribute is the axis attribute.
This may provide to a situation that a configurable product is incorrectly formed in case when in magento there are more attributes with "Use To Create Configurable Product" option set but not all of them are actually used to build the configurable products.

BubbleAPI extension provides an ability to define whi

[2014-08-05 15:23] nidup opened #238 "Add PIM MongoDB support"
Be able to use the PIM with MongoDB storage driver with the Magento connector

[2014-09-10 14:14] jarocks opened #249 "Compatibility with PIM 1.3"

[2014-10-14 08:03] action-simon opened #256 "Exporting grouped product without associations for pack - should be a simple product"
Hi guys,

I created a random test product. On associations tab there is nothing selected for pack.

When I export that product to Magento, the connector is creating a Grouped Product. But it should export a simple product as there is nothing selected for pack.

A workaround is to delete the entry for pack in the job configuration but that's not really curing the problem.

Have a look on my thread

[2014-11-05 15:29] rybus opened #267 "Fail on \DateTime attribute export"
When exporting \DateTime attributes, an error occurs :

`Catchable fatal error: Object of class DateTime could not be converted to string in ` [MagentoConnectorBundle/Normalizer/AttributeNormalizer.php on line 251](https://github.com/akeneo/MagentoConnectorBundle/blob/master/Normalizer/AttributeNormalizer.php#L251)

Which can be resolved by replacing this line by :
[code]

[2014-12-24 08:54] manh-nguyen opened #338 "Not working with Magento EE 1.10"
It seems this bundle is not working with Magento EE 1.10.

My magento is Magento EE 1.10. Can you please guide me how to make your bundle work with Magento EE 1.10? I will spend time to code more functionality to help this supporting it.
Just guide me how to do it and where should i look into?

It's really important for me. So please help me.

Regards,
Manh - Balance Internet

[2015-01-05 02:48] manh-nguyen commented on #338
Hi @fitn ,
Thank you very much for replying me.

We are using
pim-community-standard v1.2.8
MagentoConnectorBundle v1.1.8 (2014-12-01)
Magento EE v1.10.0.1

It shows error when i'm trying to save Export profile:
"Error on Magento soap call : "Invalid api path.". Called resource : "core_magento.info" with parameters : null"

I've tested this configuration with Magento EE 1.13 and it's working.

And

[2015-01-06 14:15] tegansnyder opened #349 "Best Practice for Updating"
What is the best method to continually update and track this repo along with the PIM Community Standard repo?

Do I just do something like this?
[code]

Thanks!

[2015-01-06 14:35] fitn commented on #338
Hi @manh-nguyen

Ok I get it. So Magento EE v1.10 is based on Magento CE v1.5 which has not any API (in anycase we don't support it). So indeed, you should update your Magento to use our connector.

Regards,

[2015-01-06 14:35] #338 closed

[2015-01-06 14:39] fitn commented on #349
Hi @tegansnyder

Yep it's a good practice but it depends on what you added in your composer.json in fact. It should be 1.1.*.
In production mode, you've to restart Apache to clean your cache.

Regards,

[2015-01-06 14:39] #349 closed

[2015-01-06 16:13] sineline commented on #217
Any news on how to define media for configurables?

[2015-01-07 03:55] manh-nguyen commented on #338
hey @fitn ,

Can you look into this link: https://docs.google.com/document/d/1VoFq5ByWUu9i1lSFj2V0FlsMb0DaSXnU5eSJylIm2ls/edit?usp=sharing
(Magento EE API compare: 1.10 vs 1.13)

EE v1.10 supports 60 API methods and probably it doesn't have core_magento.info api.
Can you tell me which Magento APIs you guys are using in this bundle? If it's lucky, your used APIs are existing in EE v1.10 except core

[2015-01-07 09:08] damien-carcel commented on #236
Hello Tom00,

This bug is now fixed in the last version of the Magento connector bundle (v1.1.11).
Thanks again for your feedback.

[2015-01-12 05:21] qosdevelopment opened #359 "Magento 1.4 compatibility ?"
Hello,
 The magento connector give me this issue with magento 1.4
Error on Magento soap call to "http://195.XX.XX.XX:80XX/index.php/api/soap/?wsdl" : "Invalid api path.". Called resource : "core_magento.info" with parameters : null

With magento 1.9 I have no problem. the connector is not compatible with 1.4 ?

Thanks for answer
YL

[2015-01-12 06:47] qosdevelopment opened #360 "Magento 1.9, delete/disable SKU"
Hello,

 I think there is a bug when deleting or disabling product. You call the webservice with SKU, maybe you have to do it with the product id ?!
 Both website_id and sku exists on magento side.

Magento 1.9.1.0

Thanks
YL

![pim_delete_item_pb](https://cloud.githubusercontent.com/assets/10493094/5699745/76dac7b4-9a2f-11e4-931b-228ce00c84d6.PNG)

[2015-01-12 09:34] fitn commented on #359
Hi @qosdevelopment

Unfortunately, we are compatible only from CE 1.6 to CE 1.9 and from EE 1.13 to EE 1.14. We use Magento API so we can't make it work with Magento 1.4.

I'll add compatibility informations in README file.

Regards,

[2015-01-12 09:34] #359 closed

[2015-01-12 09:37] fitn commented on #360
Hi @qosdevelopment ,

On which version of the connector are you based? We'll try to reproduce this issue.

Regards

[2015-01-12 09:54] qosdevelopment commented on #360
J'ai suivi la procédure d'installation cette nuit avec la méthode composer, le release note me dit : 1.1.12

Effectivement la doc parle du product id ou du sku avec un argument supplémentaire, en magento 1.4 je n'ai jamais réussi à faire fonctionner via SKU. Je découvre la 1.9 depuis aujourdhui.

YL

[2015-01-12 14:04] damien-carcel commented on #360
Hi @qosdevelopment .

On my side, I cannot reproduce this behavior. Like, you, I use the Magento connector bundle v1.1.12 and Magento 1.9.1 . Did you install the connector with the pim-community-standard ?

Could you describe exactly what you did to obtain this behavior ? What data did you export, what modifications you did on these data before export ?

Regards

[2015-01-13 00:52] qosdevelopment commented on #360
Hi,

 Yes it's the pim/community/standard. My actual platform is just a test and not critical at all, would you like an acces to see by yourself ?

YL

[2015-01-13 10:39] damien-carcel commented on #360
Indeed, it could be very helpful.
You can email me details at damien.carcel@akeneo.com, if you don't want to publicly post the access (you never know what bot can collect it ;) ).

[2015-01-14 12:34] damien-carcel commented on #360
It appears that your problem come from using icecat_demo fixtures to test the Magento connector. These fixtures are not prepared to work with Magento. It is better to use the Magento demo fixtures, as explained in the “Demo fixtures” section at the end of the Readme.
Then you can use your own data to expend and realize bigger export tests.

[2015-01-14 15:07] qosdevelopment commented on #360
I will try a clean install and my own data on monday. we keep in touch.

Thanks
YL

[2015-01-15 16:18] jcpla opened #368 "Magento url does not accept numbers"
Hello,

I've tried to run export into magento. My url was like magento_b2b.local.
Webservices were fine (tested with SoapUI) but when I saved the configuration I had an error on magento URL that said that it is malformated. I was not able to make any export into magento.

Finally i had to change magento host url and let only characters to make it worked (remove all numbers)

Hope it helps ;)

JC

[2015-01-16 18:07] webtechns opened #370 "Version Compatibility"
Is there a compatibility chart or reference somewhere that shows which versions of Pim Community Standard and MagentoConnectorBundle are compatible with each other?

[2015-01-16 18:37] webtechns commented on #370
Please disregard my stupid question.

[2015-01-16 18:37] #370 closed

[2015-02-05 15:59] webtechns commented on #27
Any updates on this?  When you'll begin working on it, and estimated date you envision it being available, etc.?

Thanks so much!

[2015-02-06 17:27] damien-carcel commented on #27
Eventually, this feature will not be added, as Akeneo doesn't handle bundles (nor downloadable or virtual products).
By the way, an option was added in the v1.1 to prevent their deletion on Magento during an export:
https://github.com/akeneo/MagentoConnectorBundle/commit/24a9be8c6c019c320d3ba69d902f9584553c9d10

Regards.

[2015-02-06 17:27] #27 closed

[2015-02-06 18:00] webtechns commented on #27
I don't understand.  You said "Eventually", then you said "this feature will not be added".

Which one is it?

Are you saying Akeneo will never, ever, allow for the ability to work with bundle products?

[2015-02-06 18:08] webtechns commented on #27
What happens if I have a bundle product in Magento, and I remove one of the simple products included in that bundle from Akeneo, then I export the product updates to Magento (removing that simple product)?

Will I get an error because of the bundle product, will it deactivate that bundle product, or will it delete than bundle product?

[2015-02-09 17:37] damien-carcel commented on #27
Indeed, bundles will never be handle by Akeneo, as a bundle imply a notion of quantity and customization (which Akeneo doesn't handle).

Concerning your last question: any products removed from Akeneo will be removed from Magento on next export, even if it is used by a bundle, without error message. Logically, if you remove this product from Akeneo, that's because you don't have the use for it any

[2015-02-16 18:40] tempoecommerce commented on #249
I can add a comment while I am receiving an error as well.

With akeneo 1.3 the requirements are not set correct. It does not recognize akeneo 1.3 and says you need at least akeneo 1.2

[2015-02-16 18:41] tempoecommerce opened #390 "Only transfer changed fields"
The current export is taking really long. Also when you export the shop it creates new product images each time you export. This is not efficient.

[2015-02-16 18:54] BitOne commented on #390
Hello @tempoecommerce,

The performance problem are caused by the Magento SOAP API. We are aware of that, and in the future version of the Magento Connector Bundle (v1.2), we will provide a working delta export, allowing to export only product that have changed.

For the images, I agree that this is not efficient to remove them and recreate them each time we export the product, but the Magento SOA

[2015-02-16 18:54] #390 closed

[2015-02-17 15:47] albertomrossi commented on #249
Hi all i'm interested too in installing this connector with PIM 1.3

can you please advise?
thanks and best,
alberto

[2015-02-17 21:29] cloudswork-ruud commented on #390
The only issue is that they are not removed from the servers file system.

I guess we have to live with this, cause magento won't change this in the near future :)

[2015-02-17 21:33] cloudswork-ruud opened #396 "Downloadble products"
One of our developers extended your module with supporting downloadable products. We are willing to share this with the community, but we need someone to compare the files for us cause we are limited in time.

Can you please send me any contact details to who I can sent the complete package and can merge this in the new release.

Thanks.

[2015-02-18 13:09] fitn commented on #396
Hi @cloudswork-ruud,

You are free to do a PR from your fork to this project. We'll review it and eventually integrate it to our next release (release in couple of weeks).
Otherwise you can use gists to share your code but it will be harder to check the difference (because don't know on which version you're based).

We made some changes between 1.1 and future 1.2 so maybe we'll need to adapt your

[2015-02-18 18:13] #256 closed

[2015-02-18 18:15] #35 closed

[2015-02-18 18:15] #72 closed

[2015-02-18 18:21] #368 closed

[2015-02-22 00:11] cloudswork-ruud commented on #396
One of my collegues will merge the downloadble products next week.

[2015-02-28 08:31] cloudswork-ruud opened #419 "Installation error"
I get the following error when installing the bundle:
akeneo/magento-connector-bundle v1.1.9 requires akeneo/pim-community-dev 1.2.*@stable -> no matching package found.

how can I fix this?

[2015-03-02 08:51] damien-carcel commented on #419
Hi.

v1.1.9 is an old version. I recommand you to install the last 1.1.*@stable version.

Also, did you by any chance install the connector with Akeneo 1.3? The actual version of the connector is actually not compatible with Akeneo 1.3. You must for the moment use Akeneo 1.2, by installing the last pim-community-standard 1.2 : https://github.com/akeneo/pim-community-standard/releases

[2015-03-02 13:36] vitasoa opened #421 "magento and pim installation"
Hi all,

I'vfe followed this tuto installation:
https://github.com/akeneo/MagentoConnectorBundle.

1 - I've installed PIM standrat version 1.2.27 with this error:
Warning: ResourceBundle::get(): Cannot load element ‘Countries’ without fallback from to (null) in D:\wamp\www\pim\pim-project\vendor\symfony\symfony\src\Symfony\Component\Intl\ResourceBundle\Util\ArrayAccessibleResourceBundle.php on lin

[2015-03-02 14:51] vitasoa commented on #421
Hello,

Please send with the composer.json!!

Thx,

[2015-03-02 22:55] cloudswork-ruud commented on #419
Yes I am using Akeneo 1.3

Will it take a long time before 1.2 is going to be released?

[2015-03-05 18:03] fitn commented on #421
Hi @vitasoa

dev-master is development branch so you should NOT use it for production environment. It's only for contribution ;)
We're currently preparing Magento Connector (MC) 1.2 which will be compatible with Akeneo PIM CE 1.2 and 1.3.
Akeneo PIM CE dev-master won't be compatible with MC for now.

Please reinstall the PIM without any warning and following this guide: http://docs.akeneo.com/1.2/

[2015-03-06 15:02] cloudswork-ruud commented on #419
Isn't there a way to make it work with Akeneo 1.3, as I want to go live with my new website.

[2015-03-09 13:00] fitn commented on #396
Hi @cloudswork-ruud

Any feedback about this feature?

Regards,

[2015-03-09 13:02] cloudswork-ruud commented on #396
Hi @fitn ,

Yes I asked one of my team members to do this. I will give you an update when she has finished that.

[2015-03-09 19:59] #116 closed

[2015-03-09 20:00] #167 closed

[2015-03-09 20:00] #73 closed

[2015-03-09 20:01] #141 closed

[2015-03-09 20:02] #67 closed

[2015-03-09 20:26] fitn commented on #217
Hi @sineline

Sorry for late. I'm doing clean up on issues and I just saw your question.
It's already possible to define images for configurables in the last 1.1.*

Medias (other than images) are not handled by this connector because it's not managed by the Magento API. In our projects, we use SFTP specific integration for that.

Regards,

[2015-03-09 20:27] #217 closed

[2015-03-09 20:29] fitn commented on #218
This bug has been solved since some months. Sorry for late answer.

[2015-03-09 20:29] #218 closed

[2015-03-09 20:30] fitn commented on #234
Sorry for late,

We fixed that issue some months ago.

Regards,

[2015-03-09 20:30] #234 closed

[2015-03-09 20:31] fitn commented on #47
This enhancement won't be done

[2015-03-09 20:31] #47 closed

[2015-03-09 20:33] fitn commented on #219
Done

[2015-03-09 20:33] #219 closed

[2015-03-09 20:34] #230 closed

[2015-03-09 20:37] #233 closed

[2015-03-09 20:38] #236 closed

[2015-03-09 20:40] fitn commented on #238
Hi @neverovsky

Sorry for the late reply but the MongoDB support will be available in 1.2 we'll release soon.

Regards,

[2015-03-09 20:40] #238 closed

[2015-03-09 20:42] fitn commented on #249
Hi @jarocks, @tempoecommerce, @albertomrossi

We are currently working on this compatibility and it's already available on the master branch. We'll release the 1.2 really soon.

Regards,

[2015-03-09 20:42] #249 closed

[2015-03-09 20:43] #267 closed

[2015-03-09 20:44] #360 closed

[2015-03-09 20:46] fitn commented on #419
Hi @cloudswork-ruud

We're currently working on this compatibility and there is no stable version right now. A new version will be release soon ;)

Regards,

[2015-03-09 20:48] #421 closed

[2015-03-10 09:07] fitn commented on #229
Hello,

This feature won't be supported cause Akeneo managed only data informations not pricing.

Regards,

[2015-03-10 09:07] #229 closed

[2015-03-10 09:14] #184 closed

[2015-03-10 14:18] webtechns opened #452 "Opt out of exporting product price to Magento"
Akeneo is a product information management platform, so it doesn't make sense to me that a product price should be required to be maintained within the platform.

We use a custom pricing system that allows us to maintain our product prices and utilize price rules to modify prices based on competitor pricing as well as the product's cost from multiple vendors.  This system is separate from Akeneo,

[2015-03-11 17:01] antonbe commented on #452
While you are correct, there should be the option to disable required attributes in Akeneo. Technically though, shouldn't you be importing everything into Akeneo and then distributing to Magento?

[2015-03-11 18:38] webtechns commented on #452
Importing prices into Akeneo for export to Magento would be redundant and ridiculous.

Our pricing tool connects directly to Magento and allows us to manage product pricing for products that can't even be managed via Akeneo (ie. Bundle Products).

Our pricing tool would have pricing changes on a daily/weekly (possibly even multiple times a day) basis.

Why would we export the modified pricing from

[2015-03-25 14:13] cloudswork-ruud opened #463 "Strange error when exporting"
When exporting products we get a strange error:
PIM_MAGENTO_CONNECTOR.STEPS.DELTA_PRODUCT_WRITER.TITLE
Error on Magento soap call to "http://dev01175.cloudsgento.com/api/soap/?wsdl" : "". Called resource : "catalog_product.create" with parameters : ["simple","43","SB00202100",{"categories":[358,360,492,495],"created_at":"2015-01-16 14:19:36","description":"

Do you have any clue how to solve this?

[2015-03-26 13:22] vbnet3d opened #464 "Installation error w/MongoDB"
We are attempting to install the connector in a MongoDB environment, PIM version 1.3.5. On attempting to install the Magento Connector, we get the following error:

PHP Catchable fatal error:  Argument 5 passed to Pim\Bundle\MagentoConnectorBundle\Reader\MongoDBODM\DeltaProductReader::__construct() must be an instance of Doctrine\ODM\MongoDB\DocumentManager, instance of Oro\Bundle\EntityBundle\ORM

[2015-03-26 14:42] willy-ahva commented on #464
Hi !

I succeed to reproduce your problem. I'll inform you when it'll be fixed.

Thank you for report it !

Regards,
Willy

[2015-03-27 14:38] willy-ahva commented on #464
Hi,

You can find your fix in this new tag :)

Regards,
Willy

[2015-03-27 14:38] #464 closed

[2015-03-27 15:10] vbnet3d commented on #464
Thank you. Will this install with composer now, or do I have to wait until it merges into the master branch?

[2015-03-27 15:53] cloudswork-ruud commented on #463
Anyone a clue, also added the error here:
http://www.akeneo.com/forums/topic/error-creating-products-in-magento-pim_magento_connector-steps-delta_product_wri/

[2015-03-30 07:54] jcpla opened #467 "Update to version 1.2.1 on pim 1.3.5"
Hello everybody,
I make an update of the connector today but I have an exception probably due to the merge friday :

PHP Fatal error:  Class 'Pim\Bundle\MagentoConnectorBundle\DependencyInjection\Version' not found in /workspace/akeneo/www/vendor/akeneo/magento-connector-bundle/Pim/Bundle/MagentoConnectorBundle/DependencyInjection/PimMagentoConnectorExtension.php on line 59

The namespace for Vers

[2015-03-30 08:04] fitn commented on #467
Hi @jcpla

Sorry about that. It seems that we introduced a regression in the last release. I'll work on right now.
You can work on the 1.2.0 to avoid this problem ;)

Regards,

[2015-03-30 08:07] jcpla commented on #467
Hello Romain,
no pb, i can wait
Have a nice week

[2015-03-30 09:33] fitn commented on #467
Hi @jcpla

It's fixed ;) You can reinstall your vendor with the new tag 1.2.2.

Regards,

[2015-03-30 09:33] #467 closed

[2015-03-30 09:35] fitn commented on #419
Ok I close this enhancement. Magento connector 1.2 is compatible with PIM 1.2 and 1.3 ;)

Regards,

[2015-03-30 09:35] #419 closed

[2015-03-30 14:21] vbnet3d opened #469 "New error after installation"
This error is being logged after a brand new installation: (PIM 1.3.5, w/MongoBD, Magento Connector 1.2.2)

PHP Catchable fatal error:  Argument 2 passed to Pim\\Bundle\\MagentoConnectorBundle\\Manager\\GroupManager::__construct() must be an instance of Pim\\Bundle\\MagentoConnectorBundle\\Entity\\Repository\\GroupRepository, instance of Pim\\Bundle\\CatalogBundle\\Entity\\Repository\\GroupReposit

[2015-03-30 14:26] fitn commented on #469
Hi @vbnet3d

I need more information to reproduce this issue. On which screen or job this error happens? Did you restart your Apache2 server?

Regards,

[2015-03-30 14:31] vbnet3d commented on #469
It happens on any screen. I will have my sysadmin perform the restart and report back.

[2015-03-30 14:33] vbnet3d commented on #469
That was the issue. Restarting Apache2 server resolved this. Thank you.

[2015-03-30 14:33] #469 closed

[2015-03-30 14:36] fitn commented on #469
In production environment, you have to restart Apache2 cause you're using APC ;)

Regards,

[2015-03-30 15:06] ctschneider opened #470 "Connector issue generates bundle not found error when installing on Akeneo 1.3.x"
Last week, I installed Akeneo v1.3 in an Ubuntu 12.04.4 LTE virtual machine. While trying to install the Magento Connector, I encountered the following error message: `PHP Fatal error:  Class 'Pim\Bundle\MagentoConnectorBundle\DependencyInjection\Version' not found in /var/www/pim-project/vendor/akeneo/magento-connector-bundle/Pim/Bundle/MagentoConnectorBundle/DependencyInjection/PimMagentoConnect

[2015-03-30 15:14] willy-ahva commented on #470
Hi ctschneider,

It seems you are trying to install our Magento connector in v1.3.* but this version does not exists !
Try with 1.2.* ;)

For more information, you can find a How to install here : https://github.com/akeneo/MagentoConnectorBundle#installing-the-magento-connector-in-an-akeneo-pim-standard-installation

Regards,
Willy

[2015-03-30 19:01] ctschneider commented on #470
I reinstalled the Magento connector, and this time the installation proceeded without reporting any issues. However, the connector doesn't show up as an available job when creating an export profile.

[2015-03-31 08:17] fitn commented on #470
Hi @ctschneider

Did you follow the installation guide sent by Willy?
You need to add the MC bundle to your AppKernel. I think your problem come from that part.

Regards,

[2015-03-31 08:32] fitn commented on #463
Hi @cloudswork-ruud

Can you give me more informations about your error. You can debug MC activating the log. See https://github.com/akeneo/MagentoConnectorBundle/blob/master/Resources/doc/userguide.md#debugging-soap-calls-to-magento

Regards,

[2015-03-31 13:16] ctschneider commented on #470
Hi fitn,
I have read through and followed the Magento Connector Installation Guide several times. Per the installation guide, this is what my AppKernel looks like after adding the MC bundle:

[code]

[2015-04-02 11:15] RichardGandy opened #473 "Akeneo connecter installed along with Akeneo PIM and some product data"
Hi,

We have recently installed the Akeneo PIM on to our dedicated server and uploaded some of our product data to it. In addition to this we also installed the connector so that we could test feeding this data into our Magento store.

However on trying to export Akeneo's structure to Magento we only have the Akeneo CSV Connector fields and not the Magento Connector fields.

Has anyone experienced

[2015-04-02 11:50] damien-carcel commented on #473
Hello Richard.

Did you follow step by step the install procedure describe [here](https://github.com/akeneo/MagentoConnectorBundle#installing-the-magento-connector-in-an-akeneo-pim-standard-installation)? This looks like you forgot to add the line `$bundles[] = new Pim\Bundle\MagentoConnectorBundle\PimMagentoConnectorBundle();` in your AppKernel.php.

Regards,
Damien

[2015-04-02 11:53] RichardGandy commented on #473
Hi Damien,

Many thanks for your reply - I will have a look into this and come back to you if it fixes the issue.

Thanks again,
Richard

[2015-04-02 13:45] RichardGandy commented on #473
Hi Damien,

I have checked the code and can confirm that the code

$bundles[] = new Pim\Bundle\MagentoConnectorBundle\PimMagentoConnectorBundle();

Is present in the AppKernal.php file so it can't be as a result of that. Please let me know if you know of anything else that might be the cause.

Many thanks,
Richard

[2015-04-02 14:28] damien-carcel commented on #473
The rest of the procedure was OK too? No error message when upgrading the database or cleaning the cache?
Can you give the exact version you are using for both PIM and Magento connector?

Regards,
Damien

[2015-04-02 14:35] ryan1432 commented on #473
try creating a new username and see if it shows up under the new account

[2015-04-02 15:18] RichardGandy commented on #473
Ye the rest of the installation process ran fine with no errors.

The version used is of the PIM is 1.2.11 Acrobatty Bunny with the version of the Connector being this one found here - https://github.com/akeneo/MagentoConnectorBundle

Ryan - I have tried creating a new user with full permissions but the Connector options still don't show on this knew account.

Thank you,
Richard

[2015-04-02 17:54] nhartse1 opened #474 "Error when trying to export products into Magento"
The error that I'm getting is:

Error on Magento soap call to "http://beta.domain.com/index.php/api/soap/?wsdl" : "Error Fetching http headers". Called resource : "catalog_product.list" with parameters : []

Magento Verison: 1.8.1
PIM: 1.3

My team has been racking our brains trying to figure out the issue. Any help would be appreciated.

[2015-04-03 13:18] fitn commented on #473
Hi @RichardGandy

You should use the 1.2 version of the Magento connector. You can precise the version with this command: $ php composer.phar require akeneo/magento-connector-bundle:1.2.* or adding the magento connector directly in your composer.json

If you use it in production mode, please reboot Apache2 to be sure that the cache has been deleted. And don't hesitate to relaunch rm -rf app/cache/

[2015-04-03 13:40] fitn commented on #474
Hi @nhartse1

This error comes from Magento not from the PIM. You can take a look at your Magento logs or Apache2 logs on Magento server. It comes from the fact that there is no response from Magento so maybe a Segmentation fault or something like that.

Regards,

[2015-04-03 13:42] fitn commented on #470
Hi @ctschneider

Yes it seems good. Did you try to remove your cache (rm -rf app/cache/*) and restart Apache2?

Regards,

[2015-04-04 04:14] ctschneider commented on #470
Thanks @fitn , that totally seems to have solved it for me! My magento connector is now showing up in the front end. If that is a required step, you may consider adding it to the documentation.

Thanks for the help!

[2015-04-04 04:14] #470 closed

[2015-04-06 18:46] vbnet3d opened #475 "Attribute Export Stopping after 15 attributes"
![attribute](https://cloud.githubusercontent.com/assets/2856405/7009851/d4e40558-dc62-11e4-949d-8c63c2b6e9d3.jpg)
As you can see in the attached image, 15 attributes are read, and 10 updated, with 2 warnings. However, I have over 100 attributes in the catalog. Is this a configuration issue? Is it failing to process the rest because I have the meta_description and meta_title fields in my attribute

[2015-04-07 08:00] damien-carcel commented on #475
Hi.

This behavior is probably related to your two warnings. This happens when you map Akeneo attributes with Magento system attributes. Magento prevents these system attributes to be updated.

You can either change your Akeneo attributes to make them fit the Magento attribute, or map it with a new Magento attribute. It should then work correctly.

You can read [this section of the user guide](htt

[2015-04-08 08:47] RichardGandy commented on #473
Hi @fitn

Many thanks for your advice - I can confirm that rebooting Apache2 and deleting the cache solved the issue.

Just got another issue now the when I've set up the magento_category_export profile I'm getting the following error message - pim_magento_connector.export.validator.url_not_reachable "[curl] 7: Failed to connect to...

Regards

[2015-04-09 07:48] kavithakpits opened #476 "Installation issue"
successfully installed magento connector but after that akeneo website gone. Cache folder was cleared but not working.

[2015-04-09 08:04] damien-carcel commented on #476
Hi.

Could you give me more details, please? What version of Akeneo are you using? You say your cache is not working, do you have any error messages? Did you follow the entire install procedure without errors at any step?

[2015-04-09 08:54] kavithakpits commented on #476
Hi,
thanks for the reply. These are the steps that i followed

$ php composer.phar require akeneo/magento-connector-bundle:1.2.*
$bundles[] = new Pim\Bundle\MagentoConnectorBundle\PimMagentoConnectorBundle();
php app/console doctrine:schema:update --force
php app/console pim:installer:assets

But app_dev.php is working but magento connector is not showing in export profiles. could you please help

[2015-04-09 09:07] damien-carcel commented on #476
You should also clear the cache completely:
$ rm -rfv app/cache/*
$ php app/console cache:clear --env=prod
(and without the --env=prod option for dev environment).
Then restart your apache server. It is not mandatory, but in certain case it can make a difference.

Cheers,
Damien

[2015-04-09 09:11] kavithakpits commented on #476
Thanks for the reply. I am not aware of symfony. iam getting this exception

[Symfony\Component\DependencyInjection\Exception\ParameterNotFoundException]
  The service "actualys_drupal_commerce_connector.reader.doctrine.obsoleteproduct" has a dependency on a non-existent parameter "pim_base_
  connector.reader.doctrine.obsoleteproduct.class". Did you mean one of these: "pim_base_connector.reader.d

[2015-04-09 09:19] kavithakpits commented on #476
Hi,
Removing drupal connector, successfully cleared cache but after that i am not getting export files page

[2015-04-09 09:36] damien-carcel commented on #476
I was going to say that you have a problem with this drupal connector.

You restart your apache server too? What version of the PIM are you using? Also, could you copy/past your AppKernel.php? Maybe you past the "$bundles[] = new Pim\Bundle\MagentoConnectorBundle\PimMagentoConnectorBundle();" in the wrong place, as it seems that Akeneo is not aware of the bundle.

[2015-04-09 09:41] kavithakpits commented on #476
<?php

use Symfony\Component\Config\Loader\LoaderInterface;
use Oro\Bundle\DistributionBundle\OroKernel;

/**
 * PIM AppKernel
 *
 * @author    Nicolas Dupont <nicolas@akeneo.com>
 * @copyright 2013 Akeneo SAS (http://www.akeneo.com)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
class AppKernel extends OroKernel
{

	public function __construct($envir

[2015-04-09 09:43] kavithakpits commented on #476
Is this needed in composer.json
akeneo/connector-mapping-bundle:v1.0.0-BETA3

[2015-04-09 11:39] damien-carcel commented on #476
No, this is not anymore, it was a dependency for MagentoConnectorBundle 1.1, it is now included in MagentoConnectorBundle 1.2.

However, I see in your AppKernel.php that you misplace the line

    "$bundles[] = new Pim\Bundle\MagentoConnectorBundle\PimMagentoConnectorBundle();".

You should place it at the end of the registerBundles() method, between

    "$bundles = array_merge($bundles, $pimBund

[2015-04-09 12:30] kavithakpits commented on #233
I am also getting this same issue. but magento connector is installed and showing in vendors folder

[2015-04-10 07:55] fitn commented on #473
Hi @RichardGandy

It means that your magento host is not reachable from the PIM. Your URL or API key is probably not correct.

Regards,

[2015-04-13 08:03] #474 closed

[2015-04-13 08:31] RichardGandy commented on #473
Hi @fitn

Many thanks for the info above - I know the URL is definitely correct.

Can you confirm how I go about identifying the correct API as currently I am just using the one generated in Akeneo?

Many thanks,
Richard

[2015-04-13 13:12] vbnet3d commented on #475
Well, I removed those two attributes and tried again... This time the export stopped at 12 attributes, with no warnings. Is there anyway to see which attribute it is stopping on? Does it go through attributes sequentially by their order in the database?

![screen](https://cloud.githubusercontent.com/assets/2856405/7116110/75b1b9de-e1b4-11e4-96b1-3deb2dddaf0f.jpg)

Batch Execution Log:
[2015-04-08

[2015-04-13 15:02] damien-carcel commented on #475
You can try to run Akeneo in dev mod (www.yourpiminstall.com/app_dev.php), if not already. You will have more info then in the app/dev.log file (if there's any error or warning, it should be in there).

You say you have about 100 attributes, are all these attributes in at least one family? Because the Magento connector will not export attributes that are not in families.

[2015-04-13 15:05] vbnet3d commented on #475
I think that is the issue right there - only 12 are currently assigned to a family, because I have 667 families, and wanted to test first before doing all the setup... I suppose then that all of this is working. I will verify this, but I believe your comment answers my question. I will close this pending a successful test.

[2015-04-13 15:05] #475 closed

[2015-04-15 07:02] manh-nguyen opened #477 "Why akeneo compare attribute code with attribute label/value in Magento?"
Hi guys,
I got this error from the first day of this bundle but it's still happening in this latest version.

{quote}
The attribute "visibility" doesn't have any option named "search" on Magento side. You should add this option in your "visibility" attribute on Magento or export the PIM options using this Magento connector.
{quote}

In Akeneo, It's limited to input space or special characters into

[2015-04-15 09:03] manh-nguyen commented on #477
The same error are happening with Family and Category
{quote}
The category [cards_and_games] was not found. Please export categories first or add it to the root category mapping
{quote}

If you tell me something like manually mapping the category in the export profile, I say it's so hard because we have 399 categories.

[2015-04-29 17:45] clicktrend commented on #463
I have the same error. Any new ideas?

[2015-06-05 07:57] kesato opened #478 "Your requirements could not be resolved to an installable set of packages."
Hi Everybody, i try to setup MagentoConnectorBundle but i have always :

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - akeneo/magento-connector-bundle v1.2.2 requires akeneo/pim-community-dev ~1.2@stable,<1.4 -> no matching package found.
    - akeneo/magento-connector-bundle v1.2.1 requires akeneo/pim-community-dev ~1.2@stable,<1.4 -> no matching pa

[2015-06-05 08:08] fitn commented on #478
Hi @kesato

Which version of Akeneo PIM do you installed?

Regards,

[2015-06-05 08:11] kesato commented on #478
the lasted one

[2015-06-05 08:12] fitn commented on #478
stable ? or master ?

[2015-06-05 08:12] kesato commented on #478
pim-community-standard-v1.3.11-icecat

[2015-06-05 08:14] fitn commented on #478
Ok thx!

[2015-06-11 00:49] kesato commented on #478
Hi do you get some news about this issue ?

[2015-07-09 12:15] linslin commented on #478
Why is *MagentoConnect* depended on pim-community-dev and not on pim-community-standard release? pim-community-dev is the development repo where  pim-community-standard is the official stable release. :-1:

[2015-07-10 14:44] linslin opened #482 "Error: "catalog_product_attribute.options" with parameters : ["status",0]"
While tying a Product Export a error with "catalog_product_attribute.options" comes up:

`
An error occured during the export execution.
Error #0 in class Pim\Bundle\MagentoConnectorBundle\Webservice\SoapCallException: Error on Magento soap call to "http://deiters-magento.gjuce/api/soap/?wsdl" : "Requested attribute not found.". Called resource : "catalog_product_attribute.options" with parameters

[2015-07-10 14:52] damien-carcel commented on #482
This means that the connector does not find the attribute corresponding to the option. Either you didn't export your attributes properly before exporting products, or you don't have the same mapping between your attribute export job and your product export job.

Regards,
Damien

[2015-07-10 15:01] linslin commented on #482
Thanks so far! :+1:  Yes, that makes sense. I tried to export the attributes first by using "MagentoAttributeExport". So families are exported nice, also clean families does work. But, at step `pim_magento_connector.steps.attribute_export.export.title` the nearly same error comes up here:

`
PIM_MAGENTO_CONNECTOR.STEPS.ATTRIBUTE_EXPORT.EXPORT.TITLE  Error on Magento soap call to "http://deiters-ma

[2015-07-10 15:05] linslin commented on #482
Some more information - the following attribtues are selected atm and all of them does exists in Magento 1.9.2

`
name
description
short_description
weight
price
tax_class_id
`

[2015-07-10 15:39] damien-carcel commented on #482
OK, so it seems that configuration is OK. But if you have any error during the attribute export, the product export will not work (don't forget you also need to export category before products).

You error make me think that you have on Akeneo side a « status » attribute that is not compatible with the one already present in Magento. What data do you use in Akeneo ? Are they the one provided by th

[2015-07-13 15:14] PeterBeckerDM opened #483 "MagentoConnector not available when creating a new export profile"
hi, i followed the step-by-step instruction in the README, but when if trying to create a new export profile, it doesn't offer me the Magento-Connector.

Does anybody have a clue what could have gone wrong?

Thx for your help in advance!

[2015-07-22 09:59] linslin commented on #482
Thanks for you answer. We don't invest more time in debugging, so we will switch to PIMGento. Thanks anyways!

Lin

[2015-07-22 09:59] #482 closed

[2015-08-27 00:59] haruair commented on #478
I've got same issue.
[code]

composer.json is,
[code]

[2017-01-06 10:34] kavithakpits opened #484 "Magento2 Migration issue"
Class cartmart/product_attribute_source_vendor does not exist but mentioned in: eav_attribute.source_model for attribute_id=210
I have resolved this by adding
	<rename>
		<from>cartmart/product_attribute_source_vendor</from>
		<to></to>
	</rename>

But now showing another error
[2017-01-06 10:22:05][INFO][mode: data][stage: data migration][step: EAV Step]: started
28% [========>-------------------